<div class = "main-wrapper">

<%# ----------header---------- %>
  <div class = "main-header">
    <div class = "icons">
      <%= image_tag("$ek19uch12.png", class: "logo") %>
    </div>
    <nav class = "main-menu-list">
      <a href = "#" class = "contents-title">ALL</a>
      <a href = "#" class = "contents-title">MUSIC</a>
      <a href = "#" class = "contents-title">DESIGN</a>
      <a href = "#" class = "contents-title">RIDER</a>
      <a href = "#" class = "contents-title">DIGITAL</a>
      <a href = "#" class = "contents-title">ABOUT</a>
      <a href = "#" class = "contents-title">CONTACT</a>
    </nav>
    <div id = "hamburger">
      <span class="fas fa-bars menu-icon" href = "#"></span>
    </div>
  </div>
<%# -----------header---------- %>

<%# hamburger %>
    <div class = "ham-menu" id = "ham-menu">
      <%# <div  lass = "modal"></div> %>
      <div class="modal">
        <div class = "colse-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <ul>
          <li href = "#" class = "contents-title-modal">ALL</li>
          <li href = "#" class = "contents-title-modal">MUSIC</li>
          <li href = "#" class = "contents-title-modal">DESIGN</li>
          <li href = "#" class = "contents-title-modal">RIDER</li>
          <li href = "#" class = "contents-title-modal">DIGITAL</li>
          <li href = "#" class = "contents-title-modal">ABOUT</li>
          <li href = "#" class = "contents-title-modal">CONTACT</li>
        </ul>
      </div>
    </div>


<%# hamburger %>

<%# ----------slider---------- %>
  <div class = "slider-container">
    <%= image_tag("superportfolio.png", class: "slider-image") %>
  </div>

  <div class = "contents-container">
<%# ----------slider----------- %>

<%# ----------main-contents---------- %>
    <div class = "contents-box">
      <%= image_tag("DOD.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("mistery.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("Portfolio2.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("and_premium.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
        <div class = "contents-box">
      <%= image_tag("DOD.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("mistery.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("Portfolio2.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("and_premium.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
  </div>
<%# ----------main-contents---------- %>

  <%= render partial:"shared/footer" %>

</div>