<div class = "main-wrapper">

<%# ----------header---------- %>
  <div class = "main-header">
    <div class = "icons">
      <%= image_tag("$ek19uch12.png", class: "logo") %>
    </div>
    <nav class = "main-menu-list">
      <a href = "#" class = "contents-title">ALL</a>
      <a href = "#" class = "contents-title">MUSIC</a>
      <a href = "#" class = "contents-title">DESIGN</a>
      <a href = "#" class = "contents-title">RIDER</a>
      <a href = "#" class = "contents-title">DIGITAL</a>
      <a href = "#" class = "contents-title">ABOUT</a>
      <a href = "#" class = "contents-title">CONTACT</a>
    </nav>

    <a class="fas fa-bars menu-icon"></a>
  </div>
<%# -----------header---------- %>

<%# ----------slider---------- %>
  <div class = "slider-container">
    <%= image_tag("superportfolio.png", class: "slider-image") %>
  </div>

  <div class = "contents-container">
<%# ----------slider----------- %>

<%# ----------main-contents---------- %>
    <div class = "contents-box">
      <%= image_tag("DOD.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("mistery.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("Portfolio2.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("and_premium.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
        <div class = "contents-box">
      <%= image_tag("DOD.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("mistery.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("Portfolio2.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("and_premium.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
  </div>
<%# ----------main-contents---------- %>

  <%= render partial:"shared/footer" %>

</div>