<div class = "main-index">

  <div class = "main-header">
    <div class = "icons">
      <a href = "#" class="far fa-envelope ."></a>
    </div>
    <%= image_tag("$ek19uch1.png", class: "logo") %>
    <div class = "main-menu-list">
      <a href = "#" class = "contents-title">ALL</a>
      <a href = "#" class = "contents-title">MUSIC</a>
      <a href = "#" class = "contents-title">DESIGN</a>
      <a href = "#" class = "contents-title">RIDER</a>
      <a href = "#" class = "contents-title">DIGITAL</a>
      <a href = "#" class = "contents-title">ABOUT</a>
      <a href = "#" class = "contents-title">WORKS</a>
      <a href = "#" class="fas fa-search contents-title" ></a>

    </div>
  </div>

  <div class = "slider-container">
    <%= image_tag("supermarionation.jpg", class: "slider-image") %>
  </div>
  <div class = "contents-container">

    <div class = "contents-box">
      <%= image_tag("DOD.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("mistery.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("Portfolio2.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("and_premium.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
        <div class = "contents-box">
      <%= image_tag("DOD.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("mistery.png", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("Portfolio2.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    <div class = "contents-box">
      <%= image_tag("and_premium.jpg", class: "thums") %>
      <h5>comments-comments</h5>
    </div>
    

  </div>

  <div class = "footer">
    <p>Copyright © 2019 Tatsuya Sekiguchi All Rights Reserved.</p>
  </div>
</div>